@import "tailwindcss";

@theme {
  --color-kit-primary-full: #4678B2;
  --color-kit-primary-light: rgba(0, 118, 255, 0.16);
  --color-kit-primary-mid: rgba(70, 120, 178, 0.10);
  
  --animate-emerge-from-lamp: emergeFromLamp 0.2s ease-out;
  --animate-fade-in: fadeIn 0.1s ease-out;
  
  --transform-origin-left-center: left center;
}

@keyframes emergeFromLamp {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
